<!DOCTYPE html>
<html>
	<head>
		<title>Oh,TogeTher - book_tap</title>
		<meta charset="UTF-8">
        <style type="text/css">
			p,div{text-align:center;}
			#infotext {font-size:20pt;}
			.prize {
				display:flex;
				justify-content: center;
			}
			#hometext{font-size:30pt;, text-align:center;}
		</style>
		<!-- 외부 스타일시트 적용 -->
		<link rel="stylesheet" type="text/css" href="/css/tap.css">
	</head>
	<body>

		<br>
		<header>
			<div id="hometext">
				<a href="/board/"><strong>Oh,TogeTher</strong></a>
			</div>
		</header>

		<br><br>

		<nav>
		<!--웹문서 내 이동 위한 내비게이션 링크-->
			<ul>
				<li><a href="/movie_tap">영화</a></li>
				<li><a href="/book_tap" >도서</a></li>
			</ul>
		</nav>

		<br><br>

		<article>
			<!--<div>
			<img src="로고.PNG" alt="IU" width="370" height="500" align="center"><br><br><br><br>
		</div>-->
		<!--이거 두개 나란히 놓고 싶다-->
		<div style="display:flex; flex-direction: row; justify-content: center;">
			<div>
				<br><br><br><br>
				<a href="millie"><img src="/image/millie.png" alt="PIC_06" width="170" height="160">밀리의 서재</a>
			</div>
			<br><br>
			<div>
				<br><br><br><br>
				<a href="ridi.html"><img src="/image/ridi.png" alt="PIC_07" width="150" height="150"></a>
			</div>
			<br><br><br><br>
		</div>
			<div>
                <p><br><br><br><br>안녕하세요. Oh,TogeTher 사이트에 오신 것을 환영합니다.<br>이 곳은 OTT 계정 공유 웹페이지입니다.<br>
			<br>gaeunlv@naver.com<br><br>
			문의 사항은 위 메일로 보내주시기 바랍니다.</p><br><br><br><br>
            </div>
			<br><br><br><br>
		</article>
		<br><br><br><br>
		<footer>
		<!--웹문서 꼬리말에 해당. 저작권 정보 나타내기 위해 사용-->
			<p> Copyright &copy; Oh,TogeTher All Rights Reserved.</p>
		</footer>

	</body>
</html>