<!DOCTYPE html>
<html>
<head>
    <title>Oh,TogeTher</title>
    <meta charset="UTF-8">

    <style type="text/css">
        div{text-align:center;}
    </style>
    <!-- 외부 스타일시트 적용 -->
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
    <link rel="stylesheet" type="text/css" href="/css/tap.css">
</head>
<body>

<br>
<header>
    <div id="hometext">
        <a href="/"><strong>Oh,TogeTher</strong></a>
    </div>
</header>

<br><br>

<nav>
    <!--웹문서 내 이동 위한 내비게이션 링크-->
    <ul>
        <li><a href="/member/save">회원가입</a></li>
        <li><a href="/member/login" >로그인</a></li>
    </ul>
</nav>

<br><br>
<article>
    <!--<div>
    <img src="로고.PNG" alt="IU" width="370" height="500" align="center"><br><br><br><br>
</div>-->
    <div>
        <p> N O T I C E </p><br><br><br><br>
    </div>

    <p>안녕하세요. Oh,TogeTher 사이트에 오신 것을 환영합니다.<br>이 곳은 OTT 계정 공유 웹페이지입니다.<br>
        <br>gaeunlv@naver.com<br><br>
        문의 사항은 위 메일로 보내주시기 바랍니다.</p>

    <br><br><br><br>
    <!--이거 두개 나란히 놓고 싶다-->
    <!--<div style="display:flex; flex-direction: row; justify-content: center;">
        <div>
            <a href="https://www.youtube.com/watch?v=채워넣기"><img src="배너1.PNG" alt="PIC_01" width="150" height="100"></a>
        </div>
        <br><br>
        <div>
            <a href="https://www.youtube.com/watch?v=채워넣기"><img src="배너2.gif" alt="PIC_O2" width="190" height="100"></a>
        </div>
    </div>-->

</article>
<br><br><br><br>
<footer>
    <!--웹문서 꼬리말에 해당. 저작권 정보 나타내기 위해 사용-->
    <p> Copyright &copy; Oh,TogeTher All Rights Reserved.</p>
</footer>

</body>
</html>